[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cdrcR"]
	path = cdrcR
	url = https://github.com/aelissa/cdrcr
	shallow = true
	registered = true
